/* fonts */

@font-face {
    font-family: 'museo_sans_cyrl500';
    src: url('../fonts/MuseoSansCyrl-500.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* end fonts */

h1,h2,h3,h4,h5,h6,ul {
    margin: 0;
    padding: 0;
    font-family: 'museo_sans_cyrl500', sans-serif;
}

body {
    font-family: 'open_sanslight', sans-serif;
}

li {
    list-style: none;
}

h1,h2,h3,h4,h5,h6,
.button {
    color: #00539a;
}

.button {
    display: inline-block;
    max-width: 284px;
    padding: 7px 0 11px;;
    text-align: center;
    font-size: 23px;
    letter-spacing: 1px;
    border: 1px solid #00539a;
    border-radius: 8px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
}

.button:hover {
    text-decoration: none;
}
@media all and (min-width: 1200px) {
    .container {
        width: 1135px;
    }
}

/* main style */
header {
    height: 68px;
    -webkit-box-shadow: 0 4px 4px -2px #ddd;
    -moz-box-shadow: 0 4px 4px -2px #ddd;
    box-shadow: 0 4px 4px -2px #ddd;
}

    .logo {
        display: block;
        margin: 0 38px 0 75px;
    }

    .slogan {
        display: inline-block;
        margin: 12px 0 0;
        font-size: 18px;
        color: #5894C8;
    }

    .header-nav {
        margin: 5px 37px 0 0;
    }
        .header-nav  li {
            display: inline-block;
            margin-left: 24px;
        }
        .header-nav  li:first-child {
            margin-left: 0;
        }

    a.home,
    a.send-mail {
        display: inline-block;
        width: 44px;
        height: 40px;
        background: url("../images/sprite-mail-home.png") 100% 0 no-repeat;
    }

    a.send-mail {
        background: url("../images/sprite-mail-home.png") 0 0 no-repeat;
    }

    @media all and (max-width: 768px) {
        .header-nav, .logo {
            margin: 0;
        }
    }

/* main block */

.product-about {
    position: relative;
    overflow: hidden;
    margin-top: 41px;
}
    .product-about figure img {
        display: block;
        margin-left: -15px;
    }

    .product-about figcaption {
        display: inline-block;
        margin: 0 126px 0 -57px;
        font-family: 'museo_sans_cyrl500', sans-serif;
        color: #5a565d;
        font-size: 15px;
        font-weight: bold;
    }

    .product-about h1 {
        margin: -3px 0 0 0;
        font-size: 54px;
    }
        .product-about h1 span {
            display: block;
            margin: -13px 0 0 9px;
            font-family: 'open_sanslight', sans-serif;
            font-size: 51px;
        }
        .product-about p {
            margin: 25px 0 -4px 8px;
            line-height: 23px;
            font-size: 19px;
            font-family: 'open_sanslight', sans-serif;
        }

    .left-border-style {
        padding-left: 39px;
        margin: 0 0 0 -26px;
        border-left: 1px solid #00539a;
    }

    .product-about .button {
        position: absolute;
        width: 257px;
        bottom: 29px;
        right: 201px;
    }

    .function-icon {
        display: inline-block;
        margin-right: 28px;
        width: 44px;
        height: 44px;
        background: url("../images/sprite-icon-function.png") 0 0 no-repeat;
    }
    .function-icon.dual-card {
        background: url("../images/sprite-icon-function.png") 0 50% no-repeat;
    }
    .function-icon.body {
        background: url("../images/sprite-icon-function.png") 0 102% no-repeat;
    }
    .function-icon.temperature {
        background: url("../images/sprite-icon-function.png") 100% 2% no-repeat;
    }
    .function-icon.length {
        background: url("../images/sprite-icon-function.png") 100% 51% no-repeat;
    }
    .function-icon.mount-type {
        background: url("../images/sprite-icon-function.png") 100% 101% no-repeat;
    }



.product-functions {
    margin-top: 126px;
}

    .product-functions .function-right-side li {
        margin: 0 0 10px 73px;
    }

        .function-right-side .function-icon {
            margin-right: 22px;
        }

    .product-functions li {
        overflow: hidden;
        margin: 0 0 10px 47px;
    }

    .product-functions li span {
        max-width: 270px;
        min-width: 270px;
        font-size: 15px;
    }

    .product-functions li span.single-line {
        line-height: 44px;
        height: 44px;
    }

.product-features {
    overflow: hidden;
    margin: 99px 0 40px 0;
}

    .product-features h2 {
        font-size: 57px;
        margin-bottom: 21px;
    }
        .product-features h2 span {
            font-family: 'open_sanslight', sans-serif;
            font-size: 52px;
        }
        .product-features h2+p {
            margin-bottom: 74px;
            font-size: 21px;
            line-height: 25px;
        }

    .product-features li {
        overflow: hidden;
        margin: 0 0 18px 50px;
    }

    .product-features .wrap {
        float: left;
    }

        .wrap {
            max-width: 320px;
            min-width: 250px;
        }
            .wrap h3 {
                margin-bottom: 29px;
                font-size: 23px;
            }
            .wrap h3 + p {
                margin-bottom: 29px;
                font-size: 16px;
                font-family: 'open_sanslight', sans-serif;
            }

    .feature {
        display: block;
        margin: 25px 40px 0 0;
        width: 98px;
        height: 92px;
    }
    .feature.ekonomy {
        background: url("../images/sprite-icons-features.png") 0 0 no-repeat;
    }
    .feature.reliability {
        background: url("../images/sprite-icons-features.png") 2% 50% no-repeat;
    }
    .feature.efficiency {
        background: url("../images/sprite-icons-features.png") -2% 98% no-repeat;
    }
    .feature.universal {
        background: url("../images/sprite-icons-features.png") 95% 0 no-repeat;
    }
    .feature.security {
        background: url("../images/sprite-icons-features.png") 95% 50% no-repeat;
    }
    .feature.algoritm {
        background: url("../images/sprite-icons-features.png") 95% 98% no-repeat;
    }

    .card-type {
        position: relative;
        margin: 0 auto;
        padding-left: 21px;
        width: 270px;
        height: 39px;
        background-color: #fff;
        font-size: 16px;
        line-height: 19px;
        z-index: 100;
    }

    hr {
        position: relative;
        display: block;
        margin-top: -20px;
        width: 100%;
        height: 1px;
        background-color: #00539a;
        z-index: 0;
    }

    .card-type-list {
        margin: 49px 0 0;
        text-align: center;
    }
    .card-type-list li {
            padding: 0 0 0 10px;
            text-align: center;
        }
        .card-type-list h3 {
            margin-bottom: 15px;
            font-size: 18px;
        }
        .card-type-list h3+span {
            font-size: 15px;
        }

.introduction {
    margin: 40px 0 0;
    max-height: 136px;
    background: #00539a url("../images/middle-img.jpg") 50% 50% no-repeat;
}

    .introduction h2 {
        padding: 25px 0;
        font-size: 88px;
        color: #ffffff;
        text-transform: uppercase;
    }

.introduction-steps {}

    .steps {
        width: 136px;
        height: 1098px;
        background: url("../images/steps.png") 49% 73% no-repeat;
    }

    .introduction-steps ul {
        margin-left: 20px;
        font-size: 18px;
    }

    .introduction-steps li {
        margin-bottom: 25px;
        list-style-type: square;
        color: #00539a;
    }

    .introduction-steps li p {
        padding-left: 9px;
        color: #000;
        font-size: 18px;

    }

    .introduction-block {
        margin: 73px 0 80px 29px;
    }
        .introduction-block h3 {
            margin: 0 0 37px 0;
            font-size: 49px;
        }


    /* footer */

.footer-btn-block, .footer-info {
    background: rgb(0,83,154);
    background: -moz-linear-gradient(top,  rgb(0,83,154) 0%, rgb(4,77,140) 100%);
    background: -webkit-linear-gradient(top,  rgb(0,83,154) 0%,rgb(4,77,140) 100%);
    background: linear-gradient(to bottom,  rgb(0,83,154) 0%,rgb(4,77,140) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00539a', endColorstr='#044d8c',GradientType=0 );
}

    .footer-btn-block {
        padding: 26px 0 20px;
        min-height: 100px;
        max-height: 347px;
    }
    .footer-btn-block .button {
        margin: 1px 0 0 -4px;
        width: 283px;
        color: #fff;
        border-color: #fff;
    }
    .footer-btn-block .button:hover{
        color: #023159;
        background-color: #fff;
        -webkit-box-shadow: 0 -3px 2px -1px rgba(0,49,91,1);
        -moz-box-shadow: 0 -3px 2px -1px rgba(0,49,91,1);
        box-shadow: 0 4px 2px -1px rgba(0,49,91,1);
    }

    .footer-info {
        padding: 59px 0 0;
        /*height: 330px;*/
        -webkit-box-shadow: 0 -3px 2px -1px rgba(0,49,91,1);
        -moz-box-shadow: 0 -3px 2px -1px rgba(0,49,91,1);
        box-shadow: 0 -3px 2px -1px rgba(0,49,91,1);
    }
        .footer-info li {
            margin: 0 0 11px 0;
        }
        .footer-info h4, .footer-info span {
            color: #ffffff;
        }
        .footer-info h4 {
            font-size: 25px;
            margin: 0 0 39px 25px;
        }
        .footer-info span {
            display: inline-block;
            font-size: 21px;
            font-family: 'open_sanslight', sans-serif;
        }
        .client {
            float: right;
            margin-right: -25px;
        }
        .client h4 {
            margin-bottom: 29px;
        }

    .inf-icon {
        display: inline-block;
        margin: 0 40px -11px 27px;
        width: 26px;
        height: 24px;
    }
    .inf-icon.time {
        background: url("../images/sprite-icons-footer.png") 0 0 no-repeat;
        -webkit-background-size: 26px;
        background-size: 26px;
    }
    .inf-icon.phone {
        background: url("../images/sprite-icons-footer.png") 0 28% no-repeat;
        -webkit-background-size: 26px;
        background-size: 26px;
    }
    .inf-icon.email {
        background: url("../images/sprite-icons-footer.png") 0 53% no-repeat;
        -webkit-background-size: 26px;
        background-size: 26px;
    }
    .inf-icon.www {
        background: url("../images/sprite-icons-footer.png") 0 79% no-repeat;
        -webkit-background-size: 26px;
        background-size: 26px;
    }
    .inf-icon.skype {
        background: url("../images/sprite-icons-footer.png") 0 100% no-repeat;
        -webkit-background-size: 26px;
        background-size: 26px;
    }

    /* media */
@media all and (min-width: 990px) and (max-width: 1200px) {
    .left-border-style {
        margin-bottom: 64px;
    }
    .product-about .button {
        bottom: 0;
    }
    .introduction h2 {
        font-size: 50px;
    }
}


@media all and (max-width: 992px) {
    .product-about .button {
        position: static;
        float: right;
        margin: 10px 88px 0 0;
    }
    .product-about figcaption {
        margin: 0 24px 0 30px;
    }
    .introduction h2 {
        font-size: 50px;
    }
    .footer-info span {
        width: 200px;
    }

}
@media all and (max-width: 768px) {
    .left-border-style {
        border-left: none;
    }

    .product-about h1, .product-about h1 span,
    .product-features h2, .product-features h2 span,
    .introduction h2, .introduction-block h3 {
        text-align: center;
        font-size: 40px;
    }
    .product-about .button {
        position: static;
        display: block;
        float: none;
        margin: 20px auto 0;
        height: 50px;
    }
    .product-about figure img {
        margin: 0 auto;
        width: 140px;
    }
    .product-about figcaption {
        display: inline-block;
        margin: 0 21px 0 36px;
    }
    .product-functions li,
    .product-functions .function-right-side li,
    .product-features li {
        margin: 0 0 10px 0;
    }
    .introduction-block {
        margin: 20px 0 0;
    }
    .footer-btn-block .button {
        margin: 10px 0 0 -5px;
    }
    .footer-info i {
        margin: 0 10px -11px 0;
    }
    .footer-info span {
        width: 200px;
    }
    .client {
        float: none;
    }
}